@import './main.scss';

.input-results {
    position: relative;
}

.input-results::after > .results {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $onyx;
    position: absolute;
    transform: translateX(-50%);
    bottom: -8px;
    // left: 0;
    left: 50%;
}

.finder {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    width: $airport-input-width;
}

.input-results:first-of-type input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-results:last-of-type input {
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-div {
    position: relative;
    max-width: 600px;

    >p {
        text-align: center;
        margin: 1rem 0;
    }
}