@import './main.scss';

.results {
    position: absolute;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: $onyx;
    min-width: 260px;
    width: clamp(280px, 80%, calc($airport-input-width*2));
    padding: 0.5rem;
    color: white;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 10;
    .triangle {
        // background-color: red;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $onyx;
        position: absolute;
        // transform: translateY(-15px);
        top: -8px;
        
    }
}

/* width */
.results::-webkit-scrollbar {
    width: 10px;
    background-color: $onyx;
    border-radius: 20px;
}

/* Track */
.results::-webkit-scrollbar-track {
    border-radius: 50%;
    background: $onyx; 
  }
   
  /* Handle */
  .results::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .results::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }