@import './main.scss';





/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.from {
    // transform: translateX(75px);
    left: 24%;
}
.destination {
    // transform: translateX(280px);
    left: 75%;
}

.searchbox {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.swap-button {
    position: absolute;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    border: 0.5px solid rgb(189, 189, 189);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(240, 240, 240);
    // display: none;
}