@import './main.scss';

.from {
    // transform: translateX(75px);
    left: 24%;
}
.destination {
    // transform: translateX(280px);
    left: 75%;
}

.searchbox {
    position: relative;
    @include flex-center;
    margin: 0 auto;
    transform: translate(24px);

    .btn {
        margin-left: 0.5rem;
    }
}

.swap-button {
    position: absolute;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    border: 0.5px solid rgb(189, 189, 189);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(240, 240, 240);
    // display: none;
}

.date-selectors {
  margin: 1rem 0;
  @include flex-center;
}