@import './main.scss';

#map {
    width: 900px;
    height: 600px;
    margin-bottom: 2rem;
  }
  
.marker__from {
    color: $primary-blue;
    scale: 2;
}

.marker__destination {
    color: $red;
    scale: 2;
}