@import './main.scss';

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.navbar-list {
    max-width: $xl-screen-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    font-size: 1rem;
    list-style-type: none;    

    a {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;
        border-radius: 4px;
    }

    .nav-item {
        padding: 10px 12px;
        &:hover {
            background-color: $light-blue;
            color: rgb(241, 239, 239);
        }
      
    }
}

.navbar-end,.navbar-start{
    display: flex;
    gap: 1rem;
}

.navbar-start {
    margin: 0;
    justify-self: center;
}

.navbar-end {
    margin-left: auto;
    font-weight: 500;
}

.nav-btn {
    color: white;
    font-size: 18px;
    line-height: 22px;
    padding: 0.8rem 1.2rem;
    border: 1px solid $primary-blue;
    &:hover {
        background-color: $primary-blue-hover;
    }
}

.nav-btn-primary {
    background-color: $primary-blue;
    
}

.btn-outline {
    
    color: $primary-blue;

    &:hover {
        color: white;
    }
}