@import './main.scss';

.single-flight {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.single-flight__date {
    margin:auto 0;
    text-align: center;
    font-size: 0.9rem;
}

.single-flight__stopover-count,.single-flight__duration {
    font-size: 0.9rem;
    font-weight: 500;
    // text-align: center;
}

.single-flight__stopover {
    font-size: 0.9rem;
    color :$jet;
}
