@import '@/styles/main';

.profile {
  // border: 1px solid $jet;
  border-radius: 10px;
  background-color: white;
  padding: 2rem;
  min-width: 250px;
  @include shadow;
}

.profile__card {
  @include flex-center;
  flex-direction: column;
  margin: 1rem 0;
}

.profile__fullname {
  font-size: 2rem;
  font-weight: 500;
}

.profile__username {
  font-size: 1.4rem;
  color: $onyx;
}